name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: # Allow manual triggering

permissions:
  contents: read

jobs:
  validate:
    uses: ./.github/workflows/validate.yml
    permissions:
      contents: read
    secrets:
      GARMIN_USERNAME: ${{ secrets.GARMIN_USERNAME }}
      GARMIN_PASSWORD: ${{ secrets.GARMIN_PASSWORD }}

